.PayDialog {
}

.PayDialog .cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
/*
.PayDialog .cards > .card {
  padding: 12px 16px;
  margin: 16px;
}*/