.TapFiUser {
  margin-top: 8px;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  
  /* Animation */
  transition: all 0.4s 0.3s ease-in-out;
  width: 0;
  opacity: 0;
}

.TapFiUser.show {
  width: auto;
  opacity: 1;
}

.TapFiUser > .avatar {
  /*margin: 32px 64px 8px 64px;*/
  margin: 16px 32px 8px 32px !important;
  padding: 24px 24px 0px 24px !important;
}

.TapFiUser > .name {
  margin: 4px;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.TapFiUser > .acc {
  margin: 4px;
  text-align: center;
  font-size: 8px;
  color: rgba(0, 0, 0, 0.4); 
}

.TapFiUser > .status {
  margin: 16px 0px 0px 0px;
  padding: 8px 12px;

  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.TapFiUser > .status.found {
  background-color: #FDD835;
}